{% extends "base.html" %}
{% block title %}Pin Management{% endblock %}
{% block content %}

{% if controls is not none %}

<form method="post" action="/setcode?mode={{ mode }}">
  <div class="form-group">
    <!-- show all controls of the dictionary  -->
    {% for item in controls %}
    <h3>{{ controls[item].label }}</h3>
    <input type="password" class="form-control" name="{{ controls[item].controlName }}" placeholder="Pin code">
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-success">Confirm</button>
  </div>
  {% if message is not none %}
  <div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{ message }}
    </div>
  </div>
  {% endif %}
</form>
{% else %}
<h3>The mode must be specified --> .../setcode?mode=1 or .../setcode?mode=3</h3>
{% endif %}
{% endblock %}