{% extends "base.html" %}
{% block title %}index{% endblock %}
{% block content %}
<h3>Keypad</h3>
<div class="card">
  <input class="form-control" type="text" placeholder="{{content}}" readonly>
  <form method="post" action="/keypad">
    <button type="submit" value="1" class="btn btn-primary" name="action">1</button>
    <button type="submit" value="2" class="btn btn-primary" name="action">2</button>
    <button type="submit" value="3" class="btn btn-primary" name="action">3</button>
    <button type="submit" value="A" class="btn btn-danger" name="action">A</button>
    <br>
    <button type="submit" value="4" class="btn btn-primary" name="action">4</button>
    <button type="submit" value="5" class="btn btn-primary" name="action">5</button>
    <button type="submit" value="6" class="btn btn-primary" name="action">6</button>
    <button type="submit" value="B" class="btn btn-danger" name="action">B</button>
    <br>
    <button type="submit" value="7" class="btn btn-primary" name="action">7</button>
    <button type="submit" value="8" class="btn btn-primary" name="action">8</button>
    <button type="submit" value="9" class="btn btn-primary" name="action">9</button>
    <button type="submit" value="C" class="btn btn-danger" name="action">C</button>
    <br>
    <button type="submit" value="*" class="btn btn-danger" name="action">*</button>
    <button type="submit" value="0" class="btn btn-primary" name="action">0</button>
    <button type="submit" value="#" class="btn btn-danger" name="action">#</button>
    <button type="submit" value="D" class="btn btn-danger" name="action">D</button>
  </form>
</div>
{% endblock %}
